Source: cod-tools
Maintainer: Saulius Gražulis <grazulis@ibt.lt>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>=9), gcc, bison, flex, perl, libparse-yapp-perl, libcarp-assert-perl, swig, python-dev, libmodule-scandeps-perl, moreutils

Package: cod-tools
Architecture: any
Depends: libcod-ccifparser-ccifparser-perl, pycodcif, perl, sqlite3, libdbi-perl, libdbd-mysql-perl, libdbd-sqlite3-perl, libcapture-tiny-perl, libcarp-assert-perl, libdigest-sha-perl, libhtml-parser-perl, libparse-yapp-perl, openbabel, curl, libhtml-parser-perl, tree, libwww-curl-perl, libjson-perl, python-argparse, ${misc:Depends}
Description: tools for Crystallography Open Database
 CIF management tools

Package: libcod-ccifparser-ccifparser-perl
Architecture: any
Depends: perl, ${shlibs:Depends}, ${misc:Depends}
Description: Perl CIF parser
 Perl CIF parser

Package: pycodcif
Architecture: any
Depends: python2.7, ${shlibs:Depends}, ${misc:Depends}
Description: Python CIF parser
 Python CIF parser

Package: libcodcif
Architecture: any
Depends: ${misc:Depends}
Description: C CIF parser
 C CIF parser
