Source: cod-tools
Maintainer: Saulius Gražulis <grazulis@ibt.lt>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>=9), gcc, bison, flex, perl, libparse-yapp-perl, libcarp-assert-perl, swig, python-dev, libmodule-scandeps-perl, moreutils
Vcs-Svn: svn://www.crystallography.net/cod-tools

Package: cod-tools
Architecture: any
Depends: libcod-ccifparser-ccifparser-perl, pycodcif, perl, sqlite3, libdbi-perl, libdbd-mysql-perl, libdbd-sqlite3-perl, libcapture-tiny-perl, libcarp-assert-perl, libdigest-sha-perl, libhtml-parser-perl, libparse-yapp-perl, openbabel, curl, libhtml-parser-perl, tree, libwww-curl-perl, libjson-perl, python-argparse, ${misc:Depends}
Description: tools for manipulating CIF format files
 Package provides a set of tools for manipulating Crystallographic Information Format (CIF) files, written in Perl.

Package: libcod-ccifparser-ccifparser-perl
Architecture: any
Depends: perl, ${shlibs:Depends}, ${misc:Depends}
Description: Perl bindings for COD CIF parser
 Package provides Perl language interface for COD CIF parser.

Package: pycodcif
Architecture: any
Depends: python2.7, ${shlibs:Depends}, ${misc:Depends}
Description: Python bindings for COD CIF parser
 Package provides Python language interface for COD CIF parser.

Package: libcodcif
Architecture: any
Depends: ${misc:Depends}
Description: COD CIF parser
 Package provides CIF parser, written in C language.
