#!/usr/bin/make -f

PROJECT = cod-tools

%:
	dh $@

binary-indep:   build install
binary-arch:    build install
	dh_testdir
	dh_testroot
	# dh_installdocs          CONTRIBUTORS TODO
	dh_installman             $(CURDIR)/debian/man/*.1
	# dh_installchangelogs    CHANGES
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb --destdir debian
