/*
  Running MySource Matrix
  Developed by Squiz - http://www.squiz.net
  MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 21 January 2009 07:52:38
*/


#container {
  padding: 0;
}



/* ********************************************************* */
/* ********************************************************* */
/*                                                           */
/*              header style                                 */
/*                                                           */
/* ********************************************************* */
/* ********************************************************* */


#header { 
  height: 4.2em;
  min-height: 66px;
  width: 100%;
  min-width: 42em;
  background: #fff url('http://www.iucr.org/__data/assets/image/0018/198/header.png') no-repeat 75% 50%;  
  color: #666;
  border: 0;
  border-top: 1px solid #cfc; 
  padding: 0px solid #cfc;
  margin: 4px solid #cfc;
  overflow: hidden;
 }

#header a img { 
  border: 0;
 }
#header a { 
  text-decoration: none;
  color: #666;
 }
#header a:hover { 
  text-decoration: underline;
}

#header #logo {
  height: 100%;
  width: 22em;
width 25em;
width: 28em;
}

#header #logo div.iucrlogo {
  float: left;
  width: 63px;
}
#header #logo div.iucrlogo  #iucrlogo { 
  vertical-align: top;
}

#header #logo div.logowrap div.logo { 
  float: left;
 }

#header #logo div.logo div.logouc {
  float: left;
  padding-top: 0.5em;
  font-family: Arial, Helvetica,  sans-serif;
  font-weight: bold;
  font-size: 90%;
  padding-left: 1em;
  background: transparent url('http://www.iucr.org/__data/assets/image/0013/193/opaque.png') repeat scroll 0%;
}

#header #logo div.logo div.logobig { 
  float: left;
  font-size: 150%;
  font-weight: bold;
  color: #900;
  font-family:  Arial, Helvetica, sans-serif;
  padding-left: 1em;
  background: transparent url('http://www.iucr.org/__data/assets/image/0013/193/opaque.png') repeat scroll 0%;
}

#header div.headcenter {
  overflow: auto;
  height: 100%;
  font-size: 140%;
  font-weight: bold;
  font-family:  Arial, Helvetica, sans-serif;
  color: #666;
}
#header #headertable #tableright div.headright {
  height: 3.9em;
  overflow: hidden;
  position: relative;
  width: auto;
  min-width: 15em;
  color: #666;

}
#header #headertable #tableright div.headright #links {
  margin: 0;
  position: absolute;
  bottom: 0em;
  padding: 0;
  right: 0;
  color: #600;
  font-size: 75%;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}
 #header #headertable #tableright div.headright #links a { 
   color: #600;
 }
#header #headertable #tableright div.headright #links #loginbox, #header #headertable #tableright div.headright #links #searchbox  {
  float: right;
  background: transparent url('http://www.iucr.org/__data/assets/image/0013/193/opaque.png') repeat scroll 0%;
  padding-right: 0.5em;
}

#header #headertable #tableright div.headright #related { 
  float: right;
  height: 1.3em;
  width: 30em;
  text-align: right;
  font-weight: bold;
  font-family:  Arial, Helvetica,  sans-serif;
  color: #666;
  background: transparent url('http://www.iucr.org/__data/assets/image/0013/193/opaque.png') repeat scroll 0%;
  font-size: 70%;
}


#header #headertable #tableright div.headright #related #relatedtext { 
   font-size: 85%; 
}
#header #headertable { 
  height: 100%;
  min-width: 20em;
  width: 100%;
 }
#header #headertable, #header #headertable tr, #header #headertable td {
  padding: 0;
  border: collapse;
  margin: 0;
  width: 100%;
}

#header #headertable td {
}


#header #headertable #tableleft {
  width: 25em;
width: 28em;
  text-align: left;
 }
#header #headertable #tablecenter { 
  text-align: center;
  width: auto;
 }
#header #headertable #tableright { 
  text-align: right;
}
/* ********************************************************* */
/* ********************************************************* */
/*                                                           */
/*              navigation style                             */
/*                                                           */
/* ********************************************************* */
/* ********************************************************* */


div { 
  margin: 0;
  padding: 0em;
}


#navigation {
  margin: 0;
  padding: 0em;
  width: 100%
  display: block;
  white-space: nowrap;
  
}

#navigation div.maincontainer {
  position: relative;
  white-space: nowrap;
  width: 100%;
  min-width: 30em;
}


#navigation div.maincontainer div.mainitem, #navigation div.maincontainer div.current {
  display: block;
  float: left;
  left: 0em;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
}
#navigation div.maincontainer div.mainitem {
  border-right: 0.1em solid #e11;
  border-left: 0.1em solid #933;
}
#navigation div.maincontainer div.current {
  border-right: 0.1em solid #333;
  border-left: 0.1em solid #666;
}

#navigation div.maincontainer div.mainitem div.subitem, #navigation div.maincontainer div.current div.subitem {    
  display: none;
  position: absolute;
  top: 2em;
  left: 0em;
  height: 100%;
}

#navigation div.maincontainer div.mainitem div.subitem {
  padding-bottom: 5em;
}

#navigation div.maincontainer div.current span.current, #navigation div.maincontainer div.mainitem span.mainitem { 
  position: relative;
  top: 0.35em;
  padding: 0;
 }

#navigation div.maincontainer div.mainitem:hover div.subitem, #navigation div.maincontainer div.current div.subitem {
  display: inline;
  height: 100%;
}

#navigation div.maincontainer div.mainitem:hover div.subitem {
  width: 100%;
  z-index: 10;
}

#navigation div.maincontainer div.current div.subitem {
  width: 100%;
  z-index: 9;
}


#navigation div.maincontainer div.mainitem div.subitem div.subsubitem, #navigation div.maincontainer div.current div.subitem div.subsubitem {
  position: absolute;
  display: none;
}

#navigation div.maincontainer div.current div.subitem div.subsubitem {
  position: absolute;
  z-index: -100;
  display: none;
}

#navigation div.maincontainer div.mainitem div.subitem div.subsubitem {
  z-index: 101;
}



#navigation div.maincontainer div.mainitem div.subitem div.subitemlist, #navigation div.maincontainer div.mainitem div.subitem div.subitemlist div.subitemlink, #navigation div.maincontainer div.current div.subitem div.subitemlist, #navigation div.maincontainer div.current div.subitem div.subitemlist div.subitemlink {
   display: inline;
}

#navigation div.maincontainer div.mainitem div.subitem div.subitemlist div.subitemlink:hover div.subsubitem, #navigation div.maincontainer div.current div.subitem div.subitemlist div.subitemlink:hover div.subsubitem {
  display: inline;
  z-index: 100;
  text-indent: auto;
  top: 0.9em;
  margin-left: -1em;
}

#navigation  { 
  margin-bottom: 2em;
 }
body { 
  background: #fff;
  margin: 0;
  padding: 0;
  min-width: 40em;
  
}

/*  span {                  */
/*    padding-right: 1em;   */
/*   }                      */

div.subitemlink { 
  margin: 0;
  padding: 0;
}

#navigation {
  background: #ccc url('http://www.iucr.org/__data/assets/image/0005/203/bgfull.png') repeat-x 0%;
  height: 2em;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 70%;
}


#subnavigation {
  padding: 0.1em 0;
  margin: 0em;
  background: #ccc url('http://www.iucr.org/__data/assets/image/0008/206/bg.png') repeat-x 0%;
  height: 1.8em;
}


#navigation div.maincontainer {
  background-color: transparent;
  height: 100%;
}

#navigation div.maincontainer div.mainitem:hover { 
  background: #ccc url('http://www.iucr.org/__data/assets/image/0003/201/bgpress.png') repeat-x 0%;
  border-left: 0.1em solid #f33;
  border-right: 0.1em solid #600;
  cursor: pointer;
}


#navigation div.maincontainer div.mainitem div.subitem div.subitemlist, #navigation div.maincontainer div.current div.subitem div.subitemlist {
  padding: 0em 1em;
  position: relative;
  top: 0.35em;
  border-right: 0.1em solid #333;
  border-left: 0.1em solid #ccc;
}
#navigation div.maincontainer div.mainitem  div.subitem,  #navigation div.maincontainer div.current  div.subitem { 
   height: 100%;
}
#navigation div.maincontainer div.mainitem:hover  div.subitem div.subitemlist:hover, #navigation div.maincontainer div.current div.subitem div.subitemlist:hover  {
  background: #ccc url('http://www.iucr.org/__data/assets/image/0004/202/bghover.png') repeat-x 0%;
  border-left: 0.1em solid #111;
  border-right: 0.1em solid #eee;
  border-top: 0.05em solid #111;
  border-bottom: 0.05em solid #ccc;
  cursor: pointer;
}

#navigation div.maincontainer div.mainitem, #navigation div.maincontainer div.mainitem a {

  color: #fff;
  text-decoration: none;
}
#navigation div.maincontainer div.mainitem a:hover {
  text-decoration: underline;
}

#navigation div.maincontainer div.mainitem:hover div.subitem {
  background: transparent url('http://www.iucr.org/__data/assets/image/0010/11116/bgnew.png') repeat-x 0% 0%;
  color: #000;
  height: 1.8em;
}



#navigation div.maincontainer div.mainitem div.subitem div.subsubitem {
}

#navigation div.maincontainer div.mainitem div.subitem div.subitemlist a {
  color: #000;
  text-decoration: none;
}
#navigation div.maincontainer div.mainitem div.subitem div.subitemlist a:hover {
  text-decoration: underline;
}

#navigation div.maincontainer div.mainitem div.subitem div.subitemlist div.subitemlink:hover div.subsubitem, #navigation div.maincontainer div.current div.subitem div.subitemlist div.subitemlink:hover div.subsubitem {
  
  background: #fff  url('http://www.iucr.org/__data/assets/image/0017/188/submenu.png') repeat-y 0%;;
  border-bottom: 0.1em solid #111;
  border-top: 0.1em solid #eee;
  border-right: 0.1em solid #111;
  border-left: 0.1em solid #eee;
  padding: 0.25em 0.5em;
}

#navigation div.maincontainer div.mainitem div.subitem div.subitemlist div.subitemlink:hover div.subsubitem span.subsubitem, #navigation div.maincontainer div.current div.subitem div.subitemlist div.subitemlink:hover div.subsubitem span.subsubitem {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #fee;
}

#navigation div.maincontainer div.mainitem div.subitem div.subitemlist div.subitemlink:hover div.subsubitem span.subsubitem:hover, #navigation div.maincontainer div.current div.subitem div.subitemlist div.subitemlink:hover div.subsubitem span.subsubitem:hover {
  background: #ccc url('http://www.iucr.org/__data/assets/image/0008/206/bg.png') repeat-x 0% 0%;
  margin: 0;
  padding: 0;
  border: 1px solid #fee;
}


#navigation div.maincontainer div.current { 
  background: #ccc url('http://www.iucr.org/__data/assets/image/0007/205/bgcurr.png') repeat-x 0%;
}

#navigation div.maincontainer div.current span.current a {
  padding: 0;
  margin: 0;
  color: #fff;
  text-decoration: none;
}

#navigation div.maincontainer div.current div.subitem div.subitemlist a {
  color: #000;
  text-decoration: none;
}
#navigation div.maincontainer div.current div.subitem div.subitemlist a:hover {
  text-decoration: underline;
}

#navigation #breadcrumb { 
  margin-left: 0.25em;
  color: #600;
}

#navigation #breadcrumb a { 
  color: #600;
  text-decoration: none;
}
#navigation #breadcrumb a:hover { 
  color: #600;
  text-decoration: underline;
}

/* ********************************************************* */
/* ********************************************************* */
/*                                                           */
/*              popup style                                  */
/*                                                           */
/* ********************************************************* */
/* ********************************************************* */
#container {
  padding: 0;
}
.popupfont {
  font-size: 70%;
  font-weight: bold;
  font-family:  Arial, Helvetica,  sans-serif;
  color: #666;
}
.popup {
  border: 1px solid #666;
}


/* ********************************************************* */
/* ********************************************************* */
/*                                                           */
/*              main body style                              */
/*                                                           */
/* ********************************************************* */
/* ********************************************************* */


#mainbody h2.title { 
  color: #600;
  font-family: Arial, Helvetica, Verdana, sans-serif;
 }

#mainbody { 
  clear: both;
  margin-left: 0.25em;
  margin-top: 2.5em;
  min-width: 40em;
  font-family: Times-Roman, serif;


 }
#mainbody div.sidebarleft, #mainbody div.sidebarright { 
  background: #fff;
  margin: 1em;
  margin-top: 0;
  margin-left: 0.5em;
  width: 13em
  margin-bottom: 10em;
  min-width: 12em;
  max-width: 13em;
 
}
#mainbody div.sidebarright { 
  float: right;
}

#mainbody div.sidebarleft { 
  float: left;
}


#mainbody a { 
  color: #900;
  text-decoration: none;
 }
#mainbody a:hover { 
  text-decoration: underline;
 }

div.sidebar {

  background: url("http://www.iucr.org/__data/assets/image/0010/190/sidebar_tl.png") 0% 0% no-repeat;
}

div.sidebar div {
  background: url("http://www.iucr.org/__data/assets/image/0018/189/sidebar_tr.png") 100% 0% no-repeat;
}
div.sidebar div div {
  background: url("http://www.iucr.org/__data/assets/image/0012/192/sidebar_bl.png") 0 100% no-repeat;
}

div.sidebar div div div {
  background: url("http://www.iucr.org/__data/assets/image/0011/191/sidebar_br.png") 100% 100% no-repeat;
  padding: 1em;
  margin-bottom: 1em;
}
div.sidebar div div div  ul  { 
  list-style-image: url("http://www.iucr.org/__data/assets/image/0010/208/arrowlist.png"); 
  list-style-position: inside;
  font-weight: bold;
  color: #666;
  font-family: Arial, Helvetica, Verdana, sans-serif;
} 

#mainbody div.sidebarleft div.sidebar div div div  ul  { 
  font-size: 70%;
}

div.sidebar div div div  ul li {
  border-bottom: 3px solid #fff;
}
 
div.sidebar div div div  ul li:hover {
  color: #900;
  list-style-image: url("http://www.iucr.org/__data/assets/image/0009/207/arrowlist_open.png");
  background-color: #eee;
}
 
div.sidebar div div div  ul li.current:hover {
  background-color: #f7f7f7;
} 

div.sidebar div div div  ul li.current:hover ul {
  list-style-image: none;
  list-style-type: circle;
  background-color: #f7f7f7;
}


div.sidebar div div div  ul li.current:hover ul li:hover {
  color: #900;
  list-style-image: none;
  list-style-type: circle;
  background-color: #eee;
} 

div.sidebar div div div  ul li.current ul li {
  border: 0;
  padding: 0;
} 


div.sidebar div div div ul li.current  { 
  list-style-image: url("http://www.iucr.org/__data/assets/image/0009/207/arrowlist_open.png"); 
  list-style-position: inside;
  color: #600;
} 
div.sidebar div div div ul li ul { 
  list-style-image: none; 
  list-style-type: circle;
  font-size: %100;
} 
div.sidebar div div div ul li.current ul li { 
  font-size: 135%;
}

div.sidebar h3 {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  color: #000;
  margin: -0.5em -1em 0 -1em;
  border-bottom: 1px solid #ccc;
  padding-left: 1em;
  padding-bottom: 0.25em;
}


div.sidebar ul { 
  margin: 0.25em 1em 0 1em;
  padding: 0;
 }

#mainbody #contentdiv {
  border-right: 1em solid #fff;
  border-top: 0.25em;
  margin-left: 0.5em;
  margin-right: 0em;
 }


#mainbody  #contentdiv  {
  background: url("http://www.iucr.org/__data/assets/image/0015/195/maincont_tl.png") 0% 0% no-repeat;
}

#mainbody  #contentdiv div.contentdiv {
  background: url("http://www.iucr.org/__data/assets/image/0014/194/maincont_tr.png") 100% 0% no-repeat;
}
#mainbody #contentdiv  div.contentdiv div.contentdiv {
  background: url("http://www.iucr.org/__data/assets/image/0017/197/maincont_bl.png") 0 100% no-repeat;
}

#mainbody #contentdiv div.contentdiv div.contentdiv div.contentdiv {
  background: url("http://www.iucr.org/__data/assets/image/0016/196/maincont_br.png") 100% 100% no-repeat;
  padding: 1em 1em 0.2em 1em;
 
}


h1, h2, h3, h4, h5, h6, address { 
  font-family: Arial, Helvetica, Verdana, sans-serif; 
  color: #600;
}

h1 { 
  font-size: 150%;
  margin-top: 0;
}

h2 { 
  font-size: 130%;
}

h3 { 
  font-size: 110%;
}

h4, h5, h6 { 
  font-size: 100%;
}

h6 { 
  margin-top: 0;
  margin-bottom: 0;
}


h2.title {  
  margin: 0;
}

address {
  font-weight: bold;
  font-size: %90;
  margin-bottom: 1em;
}

div.figureright,
div.figureright80, div.figureright160, div.figureright240, div.figureright320, div.figureright400 { 
  clear: right; 
  white-space: wrap; 
  position: relative;
  margin: 0.5em 0.5em 0.5em 2em;
  float: right; 
  font-size: 0.8em;
}

img.figureright, div.figureright { 
  width: 320px;
  border: 0;
}

img.figureright80, div.figureright80 { 
  width: 80px;
  border: 0;
}
img.figureright160, div.figureright160 { 
  width: 160px;
  border: 0;
}
img.figureright240, div.figureright240 { 
  width: 240px;
  border: 0;
}
img.figureright320, div.figureright320 { 
  width: 320px;
  border: 0;
}
img.figureright400, div.figureright400 { 
  width: 400px;
  border: 0;
}
div.clear { 
  clear: right;
}

div.sidebar img { 
  border-color: #600;

 }
/* ********************************************************* */
/* ********************************************************* */
/*                                                           */
/*              footer style                                 */
/*                                                           */
/* ********************************************************* */
/* ********************************************************* */
#footer {
  clear: both;
  font-size: smaller;
  white-space: wrap;
  min-width: 50em;
 }

#footer #footbar {
  background-color: #eee;
  background: #ccc url('http://www.iucr.org/__data/assets/image/0006/204/bgfoot.png') repeat-x 0%;
  padding: 0.5em;
}

#footer a { 
  color: #666;
  text-decoration: none;

 }
#footer a:hover { 
  color: #666;
  text-decoration: underline;
  cursor: pointer;

 }


#footer #footbar #footernav { 
  text-align: center;
  font-family: Verdana , sans-serif;
  font-size: x-small;
  font-weight: bold;
  color: #666;  
  margin:0.0;
  padding:0.0 0.5em 0.5em 0em;
}


#footer #footerquote {
  width: 60em;
  text-align: center;
  font-weight: normal;
  font-size: x-small;
  color: #666;  
  font-family: Verdana , sans-serif;
  padding-top: 1em;
  padding-bottom: 2em;
  margin: 0 auto;
}

#footer div.copyright { 
  text-align: center;
  font-family: Verdana , sans-serif;
  font-size:x-small;
 }

#footer #foottopline { 
  height: 3px;
  background: #ccc url('http://www.iucr.org/__data/assets/image/0019/199/flines.png') repeat-x 0%; 
}

#footer #footedge { 
  height: 7px;
  background: #ccc url('http://www.iucr.org/__data/assets/image/0002/200/fedge.png') repeat-x 0%; 
}

/* ********************************************************* */
/* ********************************************************* */
/*                                                           */
/*               mods introduced by bm                       */
/*                                                           */
/* ********************************************************* */
/* ********************************************************* */
/*               list style in asset builder page            */
ul li.sq-asset-builder-tab-active{
  list-style-image: url("http://www.iucr.org/__data/assets/image/0009/207/arrowlist_open.png");
  list-style-position: inside;
  color: #600;
}
ul li.sq-asset-builder-tab ul {
  list-style-image: none;
  list-style-type: circle;
  font-size: %100;
}
ul li.sq-asset-builder-tab-active ul li {
  font-size: 135%;
}
/* hide the "Cascade changes" checboxes from metadata request fields */
#metadata_field input[type=checkbox].sq-form-field { display: none; }
#metadata_field label { display: none; }
